@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Bree Serif', serif;
}
h2 {
  white-space: normal;
}
h4 {
  background-color: rgb(255, 255, 128, 0.2);
  margin-top: 25px;
}
.App {
  background: hsl(185, 75%, 39%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.card-head {
  position: relative;
  width: 100%;

}

.card-body {
  background: #fff;
  padding: 80px 5px 40px 5px;
  text-align: center;
}

.profile-bg {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 144px;
  width: 100%;
}

.profile-img {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  border: 2px solid #fff;
}

.switch {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 1rem;
  background-color: rgb(255, 255, 128, 0.2);
  width: 100%;
}

button {
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 30px;
}
.male {
  background:hsl(185, 100%, 55%);
}
.female {
  background:rgb(255, 0, 0);
  color:#fff;
}